<%= render 'shared/errors', obj: @student %>
<div class="container">
	<div class="row-center sign-up-form">
		<div class="col s12">
			<div class="card-panel">
				<h3 class="header center-align"><%=@student.new_record? ? "Sign up" : "Edit your profile"%></h3>
				<div class="row">
					<%= form_for( @student , html: {class:"col s12"})do |f| %>
						<div class="row">
							<div class="input-field cols12">
								<%= f.text_field :name , placeholder: "Enter your name", autofocus: true%>
								<%= f.label :name %>
							</div>
						</div>
						<div class="row">
							<div class="input-field cols12">
								<%= f.email_field :email, placeholder: "Enter your email", autofocus: true %>
								<%= f.label :email %>
							</div>
						</div>
						<div class="row">
							<div class="input-field cols12">
								<%= f.submit( @student.new_record? ? "Sign up" : "Update", class: "btn orange waves-effect waves-light right" ) %>
							</div>
						</div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>