<div class="row sign-up-form">
	<div class="col s12 m8 offset-m2">
		<div class="card blue-grey ">
			<div class="card-content white-text">
				<span class = "card-title"><p><strong class="black-text">Name  : </strong>  <%= @student.name %> </span>
				<p><strong class="black-text">Email : </strong> <%= @student.email %> </p>
				<p><strong class="black-text">Enrolled Courses :  </strong> <%= @student.courses.count %>
					<% if @student.courses.empty? %>
						None
					<%else%>
						<ul>
							<% @student.courses.each do |i| %>
								<li><pre> <%= link_to i.name, course_path(i), class:"yellow-text" %></pre></li>
							<% end %>
						</ul>
					</p>
					<%end%>
			</div>
			<% if current_user == @student %>
				<div class="card-action">
					<%= link_to '<i class="material-icons right">create</i>Edit Your profile'.html_safe, edit_student_path(@student) ,class:"waves-effect waves-light btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
