<h4 class="center-align">Users</h4>
<div class="row">
	<% @users.all.each do|i| %>
	<% if i.admin? %>
		<% next %>
	<% end %>
	<div class="col s12 m6">
		<div 	class="card blue-grey" %>
			<div class="card-content white-text">
				<%if i.ustype == "teacher"%>
					<span class = "card-title red-text">Teacher : <%= i.name %> </span>
				<%elsif i.ustype == "student"%>
					<span class = "card-title ">Student : <%= i.name %> </span>
				<%end%>
				<p>Email : <%= i.email %> </p>
				<p><%if i.ustype == "student" %>
						Enrolled Courses :  
					<%else%>
						Handling Courses :
					<%end%> 
					<%= i.courses.count %> </p>
			</div>
			<div class="card-action">
			<%= link_to "View User" ,user_path(i)%>  
			</div>
		</div>
	</div>
	<%end%>
</div>
