<div class="row sign-up-form">
	<div class="col s12 m8 offset-m2">
		<div class="card blue-grey ">
			<div class="card-content white-text ">
				<div style="font-size: 20px; font-weight: bold ;">
					<span class = "card-title center-align">
						<h4><%=@user.ustype%>
						<% if current_user == @user %>
							<%= link_to '<i class="material-icons right">edit</i>'.html_safe, edit_user_path(@user) ,class:"waves-effect waves-light btn" %>
						<% end %>	</h4>
					</span>
					<p><strong class="black-text">Name  : </strong>  <%= @user.name %> 
					<p><strong class="black-text">Email : </strong> <%= @user.email %> </p>
					<p><strong class="black-text">Posted Questions : </strong> <%=Question.where(user_id:@user.id).count %> </p>
					<p><strong class="black-text">
						<%if @user.ustype == "student" %>
							Enrolled Courses :  </strong> <%= @user.courses.count %>
						<%elsif @user.ustype == "teacher"%>
							Handling Courses :  </strong> <%= @user.courses.count %>
						<%else%>
						</strong> 
						<%end%>
					<hr/>
					<% if !@user.courses.empty? %>
						<ul>
							<p><strong class="black-text">Courses List</strong></p>
							<% @user.courses.each do |i| %>
								<li><pre> <%= link_to i.name, course_path(i), class:"yellow-text" %></pre></li>
							<% end %>
						</ul>
					<% elsif !@user.admin? %>
							<p><strong class="black-text">Courses : </strong>
							None  
							<%= link_to '<i class="material-icons right">visibility</i>view Courses'.html_safe, courses_path() ,class:"waves-effect waves-light btn" %>
					</p>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>