<%= render 'shared/errors', obj: @answer %>
<p class="center-align"><%= link_to '<i class="material-icons right center-align">visibility</i>View All Questions'.html_safe, questions_path(), class:"center-align waves-effect waves-light btn blue" %></p>
<h4 class="center-align">Answer</h4>
<div class="row">
	<div class="col s12 m12">
		<div 	class="card grey lighten-4" %>
			<div class="card-content ">
				<p><%= link_to Course.find(@question.course_id).name, course_questions_path(id:@question.course_id),class: "waves-effect waves-light btn chip"%> </p>
				<hr/>
        <h3><strong style="font-size 20px; font-weight: bold"><%= @question.doubt %> </strong></h3> 
        <div class="row">
          <div class="col s6">
            <p><%=pluralize( Answer.where(question_id: @question.id).count, "Answer")%></p>
          </div>
          <div class="col s6 center-align">
            posted by  <%= link_to User.find(@question.user_id).name, user_path(User.find(@question.user_id)) %>
            |<small> Created <%= time_ago_in_words(@question.created_at)%>    ago</small>
            |<small> edited <%=time_ago_in_words(@question.updated_at) %> ago</small>
          </div>
        </div>
				<hr/>
        <div class="row">
          <%= form_for( @answer , html: {class:"col s12"})do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_area :solution,cols: 30, rows: 30 , placeholder: "Enter your Answer", autofocus: true%>
                <%= f.label :solution, class: "active"  %>
                <%= f.hidden_field :question_id, value: @question.id  %>
              </div>
            </div>
            
            <div class="row">
              <div class="input-field cols12">
                <%= f.button( @answer.new_record? ? '<i class="material-icons right">arrow_forward</i>Post Answer'.html_safe : '<i class="material-icons right">arrow_forward</i>Update Answer'.html_safe, class: "btn orange waves-effect waves-light right" ) %>
              </div>
            </div>
          <% end %>
        </div>
			</div>
		</div>
	</div>
 </div>