<h4 class="center-align">Course Listing Page</h4>
<div class="row">
	<% @courses.all.each do|i| %>
	<div class="col s12 m6">
		<div class="card blue-grey darken-3">
			<div class="card-content white-text">
				<span class = "card-title   text-bold"><%= i.short_name %> : <%= i.name %></span>
				<p> <%= i.description %> </p>
				<p><strong class="grey-text">Course Instructor : </strong> <%= i.course_instructor %> </p>
				<p><strong class="grey-text">Category : </strong> <%= i.category %> </p>
				<p><strong class="grey-text">Enrolled Students : </strong> <%= i.enrolled_students %> / <%= i.max_limit %> </p>
			</div>
			<div class="card-action">
			<%= link_to "Info" ,course_path(i)%>
			<%= link_to "Questions" ,course_questions_path(id:i.id)%>
			<% if logged_in? %>
				<%if current_user.admin? %>
					<%= link_to "Edit Course", edit_course_path(i) %>
					<%= link_to "Delete Course", course_path(i), method: :delete, data:{confirm: "Are you sure?",class:"btn btn-outline-danger"}%>
				
				<% elsif current_user.ustype=="teacher" %>
					<strong class="white-text">Handled By : </strong> <%= link_to i.course_instructor, user_path(User.find_by(name: i.course_instructor)) %>
					
				<% elsif current_user.ustype = "student"%>
					<% if !(current_user.courses.include?(i))%>
						<%= link_to "Enroll" ,course_enroll_path(course_id: i.id),method: :post ,data:{confirm: "Are you sure?"}%> 
					<% else %>
						<strong class="green-text text-darken ">Enrolled</strong>
					<% end %>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
	<%end%>
</div>
