<div class="row sign-up-form">
	<div class="col s12 m12">
		<div class="card blue-grey ">
			<div class="card-content white-text">
				<span class = "card-title"><p><strong class="black-text"><%= @course.short_name %> : </strong>  <%= @course.name %> </span>
				<p><strong class="black-text">Description : </strong> <%= @course.description %> </p>
				<p><strong class="black-text">Enrolled Students :  </strong>
					<% if @course.students.empty? %>
						None
					<%else%>
						<ul>
							<% @course.students.each do |i| %>
								<li><pre>             <%=link_to i.name, student_path(i), class:"yellow-text"%></pre></li>
							<% end %>
						</ul>
					</p>
					<%end%>
			</div>
			<% if logged_in? && current_user.admin?%>
				<div class="card-action">
					<%= link_to '<i class="material-icons right">create</i>Edit Course'.html_safe, edit_course_path(@course) ,class:"waves-effect waves-light btn" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

